/* Corps de la page */
body {
    background-color: #f8f9fa;
}

/* Couleur des titres */
h1, h2 {
    color: #004080;
}

/* Navbar */
.navbar {
    margin-bottom: 30px;
}

/* Ajout de règles responsive */
@media (max-width: 768px) {
    /* Pour les petits écrans (mobiles) */
    .navbar-brand {
        font-size: 1.2rem; /* Ajuste la taille de la marque pour les écrans plus petits */
    }

    .navbar-nav {
        text-align: center; /* Centre les éléments de la navigation */
    }

    /* Ajustement des titres */
    h1 {
        font-size: 1.8rem;
    }

    /* Mise en page des containers */
    .container {
        padding: 10px;
    }
}
